@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Gothic');
:root {
 --primary-color: black;
}
body {
    max-width: 980px;
    margin: auto;
}

body, h1, h2, h3, p, div, nav, section, main {
    margin: 0;
    padding: 0;
}
header .container {
  background-color: rgb(244, 158, 66);
  padding: 15px;
}

header p .logo {
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  color: rgb(46, 150, 45);
  text-align: center;
  font-size: 2rem;
  }
  
header .logo {
  text-align: center;
  }
  
header .container nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'Nanum Gothic', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  }
header .container nav ul li a:hover{
  text-decoration: underline;
}
header .container nav ul li {
  list-style: none;
}
header .container nav ul {
  display: flex;
	padding: 0;
	justify-content: space-around;
	flex-wrap: wrap;
}

@media (min-width: 500px) {
    header nav {  
    display: flex;
    }    

    header nav ul {
        flex: 1;
    }
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.container{
  max-height: 80px;
}


.banner {
	background-image: url(../img/bucket.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
  height: 548px;
  text-align: center
}

.banner h1 {
  font-family: 'Indie Flower', cursive;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
@media (min-width: 500px) {
  .banner h1 {
        font-size: 5rem;
    }
}

.form input,
textarea{
	width: 50%;
	margin-bottom: 20px;
	padding: 10px 25px;
	font-size: 14px;
  	font-family: "Roboto";
  	color: rgba(65, 61, 75, 0.502);
}

textarea{
	height: 190px;
 }

.submit{
	background-color: Transparent;
	border:1px rgb(244, 158, 66) solid;
	padding: 10px;
	font-size: 16px;
	color: rgb(0, 224, 208);
	margin-left: 0px;
	font-weight: bold;
	max-width: 100px;
	
}
.submit:hover{
	background: rgb(244, 158, 66); ;
	color: #fff;
	transition: all ease 0.5s;
}