.home {
  background-image: url(img/composting-cover-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 700px;
  width: 975px;
  position: relative;
  z-index: 0;
}
.img-about img{
  height: 200px;
  width: 300px;
}
.images-small img{
  height: 200px;
  width: 300px;
}
.images-small{
  display: flex;
  flex-direction:row;
}
li:before {
  content: '— ';
  margin-left: -20px;
}

li {
  margin-left: 20px;
  list-style: none;
}

.img-small{
  height: 200px;
  width: 300px;
}
.socials{
  display: flex;
  flex-direction: row;
}
.socials-img img{
  height: 15px;
  width: 15px;
}